:root{
    --blue: #8490ff;
    --offBlue: #8490ff4d;
    --offBlue-2: #565fa99d;
    --white: #Fcfcfc;
    --light-blue: #f9f9ff;
    --black: #101119;

    --font-1: "Montserrat", sans-serif;
    --font-2: "Inter", sans-serif;

    --size-1: 64px;
    --size-2: 44px;
    --size-3: 21px;
    --size-4: 18px;
    --size-5: 16px;
    --size-label: 17px;
 
    --weight-1: 700;
    --weight-2: 400;

    --l-height-1: 78.02px;
    --l-height-2: 53.64px;
    --l-height-3: 25.6px;
    --l-height-4: 36px;
    --l-height-5: 19.5px;
    --l-height-6: 20.72px;
}
