.container {
    max-width: 980px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    .boxDate {
        gap: 0.3rem;
        display: flex;


        input {
            display: none;
        }

        @media(max-width: 500px) {
            justify-content: space-between;

        }
    }

    .boxForm {
        padding-top: 1rem;
        border: 1px solid black;

        .boxInfoForm {
            padding: 1rem;

            h3 {
                font-weight: 700;
            }

            .divForm {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                width: 100%;

                .divLabel {
                    display: flex;

                    gap: 1rem;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: nowrap;

                        font-weight: 700;
                        background-color: var(--gray);
                        border: 1px solid var(--gray2);
                        width: 60px;
                        height: 53px;
                    }

                }

                .dif {
                    margin: 1rem 0;
                    width: 80%;
                    font-weight: 700;
                    background-color: var(--gray);
                    border: 1px solid var(--gray2);

                    padding: 1rem 0.5rem;
                    margin: 0 1rem;
                }

                .imgPound,
                .imgLock {
                    display: flex;

                    margin-left: 0.1rem;
                }


                @media (max-width: 574px) {
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;

                    .divLabel {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;

                        label {
                            width: 160px;
                            height: 40px;
                        }
                    }


                }

                @media(max-width: 768px) {
                    flex-direction: column;


                    .divLabel {
                        padding: 0 0.3rem;

                        label {
                            width: 120px;
                            height: 60px;
                        }
                    }

                    .dif {
                        margin: 1rem 0;
                    }

                    .imgPound,
                    .imgLock {
                        margin-left: 0.3rem;
                    }

                }


            }


            .line {
                background-color: var(--offYellow);
                padding: 1rem;
                margin: 0.5rem 0;
                position: relative;

                p {
                    font-weight: 800;
                }

                span {
                    position: absolute;
                    content: "";
                    background-color: var(--offYellow);
                    width: 10px;
                    height: 10px;
                    rotate: 45deg;
                    top: -5px;
                    right: 85px;
                }
            }
        }

        .divFooter {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1rem;
            background-color: var(--gray);

            .donate {
                font-size: 12px;
                text-decoration: underline;
                font-weight: 700;
            }

            .rights {
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    padding-right: 10px;
                    line-height: 1rem;
                }

                .images {
                    display: flex;
                }
            }

            @media (max-width: 574px) {
                flex-direction: column-reverse;

                p {
                    font-size: 14px;
                    text-align: center;
                    margin: 1rem 0;
                }

                .rights {
                    flex-direction: column-reverse;
                    

                    .images {
                        flex-direction: row;
                        gap: 2rem;
                        margin: 1rem 0;
                    }
                }
            }

            @media(min-width:768px) {}

        }

    }
}